.icon:hover {
    animation:  rotate 0.75s;
  }
  
  @keyframes rotate{
    0%{
      transform: rotate(0deg)
    }
    25%{
      transform: rotate(60deg);
    }
      

    50%{
      transform: rotate(-60deg);
    }
    100%{
      transform: rotate(0deg);
    }
  }

  .iconR:hover {
    animation:  uw 0.75s;
  }
  
  @keyframes uw{
    0%{
      transform: translateY(0vw)
    }
    25%{
      transform: translateY(2vw);
    }
      
    50%{
      transform: translateY(-2vw);
    }
    100%{
      transform: translateY(0vw);
    }
  }
  